<mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Create department</mat-card-title>
      <mat-card-subtitle>Fill up the form</mat-card-subtitle>
      <span class="spacer"></span>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="employeeForm" (ngSubmit)="save()">
        <mat-form-field class="f-w mb-1">
          <mat-label>Department name</mat-label>
          <input type="text" matInput formControlName="employeeName" />
  
         
         
          <mat-error *ngIf="f['employeeName'].hasError('required')">
            Employee name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w mb-1">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade" >
              
              <mat-option *ngFor="let op of gradeOptions" [value]="op.value">{{op.label}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['grade'].hasError('required')">
                Grade is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <mat-form-field class="f-w mb-1">
            <mat-label>Designation</mat-label>
            <input type="text" matInput formControlName="designation" />
    
           
           
            <mat-error *ngIf="f['designation'].hasError('required')">
              Designationis <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="f-w mb-1">
            <mat-label>Department</mat-label>
            <mat-select formControlName="departmentId" >
              
              <mat-option *ngFor="let op of departments" [value]="op.departmentId">{{op.departmentName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f['departmentId'].hasError('required')">
                Department is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        <div class="f-w mb-1">
          <button mat-raised-button color="primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button [routerLink]="['/employees']">Back to employee list</a>
    </mat-card-actions>
  </mat-card>
  
